   <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Find A Temporary Cofounder</h1>
            <h3>Connecting early stage startups and talented entrepreneurs</h3>
            <br>
            <a class="typeform-share button" href="https://stageup.typeform.com/to/pC2rzq" data-mode="2" target="_blank">Request Beta Access</a>
            <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='/assets/stylish-portfolio.css';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b;s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()
            </script>
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h1>How it Works</h1>
                    <hr>
                    <p class="lead" style="font-size: 22px">Are you an early stage startup looking to launch a product, build an MVP or push toward your first round of funding?  Or maybe you are an entrepreneur looking to take on a new part-time project for a few months?
                    <br>
                    <br>
                    Stageup features promising startups and talented entrepreneurs looking to join forces to complete short term projects.</p>
                    <hr>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4 col-sm-12">
                            <span class="fa-stack fa-3x">
                                <i class="fa fa-circle fa-stack-2x" style="color: white"></i>
                                <i class="fa fa-pencil fa-stack-1x text-primary"></i>
                            </span>
                    <p style="font-size: 22px">Apply for access as a startup or potential cofounder</p>
                </div>
                <div class="col-md-4 col-sm-12">
                            <span class="fa-stack fa-3x">
                                <i class="fa fa-circle fa-stack-2x" style="color: white"></i>
                                <i class="fa fa-user-plus fa-stack-1x text-primary"></i>
                            </span>
                    <p style="font-size: 22px">We will select the top entrepreneurs and startups to feature each week</p>
                </div>
                <div class="col-md-4 col-sm-12">
                            <span class="fa-stack fa-3x">
                                <i class="fa fa-circle fa-stack-2x" style="color: white"></i>
                                <i class="fa fa-users fa-stack-1x text-primary"></i>
                            </span>
                    <p style="font-size: 22px">Build your team and get to work with the next great startup</p>
                </div>
        </div>
        <!-- /.container -->
    </section>

    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <h1> Who StageUp Helps</h1>
                <hr>
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="col-md-6 col-sm-6">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-users fa-stack-1x text-primary"></i>
                            </span>
                    <h2>Startups</h2>
                    <hr class="small">
                            <div class="service-item">
                                <p>
                                    Does your early stage startup have a SHORT TERM need in UI/UX, marketing or backend dev?  Apply to find a temporary cofounder who can help move your startup towards profitability in exchange for a small equity stake.
                                </p>
                                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal"><em>More Info for Startups</em></a>
                            </div>
                        </div>

                <div class="col-md-6 col-sm-6">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-user fa-stack-1x text-primary"></i>
                            </span>
                    <h2>Tech Talent</h2>
                    <hr class="small">
                            <div class="service-item">
                                <p>
                                    Are you expereienced in marketing, sales, design or development and want to join an early stage startup on a part time basis for 1 - 6 months in exchange for a small equity position?
                                </p>
                                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal"><em>More Info for Potential Cofounders</em></a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
            </div>
        <!-- /.container -->
    </section>

    <!-- Portfolio -->
    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h1>Startups Featured Weekly</h1>
                    <p class="text-muted">Startups are featured weekly on StageUp as well as on our social media channels.</p>
                    <hr class="large">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#myModal1" class="portfolio-link" data-toggle="modal">
                                <img class="img-portfolio img-responsive" src="/assets/portfolio-1.png">
                                <h2 class="imgh2"><span>Stageup.io</span></h2>
                                <h4 class="imgh4"><span>Full Stack Developer</span></h4>
                                <h4 class="imgh5"><span>5% Equity</span></h4></a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#myModal2" class="portfolio-link" data-toggle="modal">
                                <img class="img-portfolio img-responsive" src="/assets/portfolio-2.png">

                                <h2 class="imgh2"><span>Featured Startup #2</span></h2>
                                <h4 class="imgh4"><span>Desired Cofounder Skill</span></h4>
                                <h4 class="imgh5"><span>Equity Share</span></h4></a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#myModal3" class="portfolio-link" data-toggle="modal"><img class="img-portfolio img-responsive" src="/assets/portfolio-3.png">

                                <h2 class="imgh2"><span>Featured Startup #3</span></h2>
                                <h4 class="imgh4"><span>Desired Cofounder Skill</span></h4>
                                <h4 class="imgh5"><span>Equity Share</span></h4></a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#myModal4" class="portfolio-link" data-toggle="modal">
                                <img class="img-portfolio img-responsive" src="/assets/portfolio-4.png">

                                <h2 class="imgh2"><span>Featured Startup #4</span></h2>
                                <h4 class="imgh4"><span>Desired Cofounder Skill</span></h4>
                                <h4 class="imgh5"><span>Equity Share</span></h4></a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
            <div class="text-center">
                <a href="startups.html" style="text-decoration: underline; font-size: 18px">See More Startups</a>
            </div>
        </div>
        <!-- /.container -->
    </section>

    <!-- Call to Action -->
    <aside class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 style="padding-bottom: 15px">Click here to join our growing community and establish your stake in the next big startup.</h3>
                    <a class="typeform-share-light button" href="https://stageup.typeform.com/to/pC2rzq" data-mode="2" target="_blank">Apply for Beta Access</a>
                        <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='css/stylish-portfolio.css';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b;s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()
                        </script>
                </div>
            </div>
        </div>
    </aside>

        <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-center">Tips for Finding a Successful Cofounder</h2>
                        </div>
                        <hr>
                            <h3>Set attainable goals and put them in writing.</h3>
                            <p>Help smooth the transition of bringing someone on board by communicating exactly what you expect from them. Write down specific milestones that need to be met and your time commitment expectations.  Having these in writing can help prevent miscommunications and resolve future arguments which may arise from either party.</p>

                            <h3>Know your startup's strengths and weaknesses.</h3>
                            <p>Be realistic about your growth and market.  Don't promise that your paper airplane folding app is going to revolutionize the internet and bring in funding at a $2b capitalization.</p>

                            <h3>Offer realistic compensation for the work provided.</h3>
                            <p>If you are looking for someone to come in and essentially create the entire company based of off your idea you probably aren't going to have much luck offering 1% equity.  Be realistic.  Come in with a startup that is already seeing some traction EVEN IF you don't already have a working product. 
                            <br>
                            <br>
                            Some startups probably won't ever see a cash exit so other arrangements may be necessary such as offering a percentage of net revenues or other future distributions.  Just be realistic with what you are asking and offering.</p>

                            <h3>Don't be a jerk.</h3>
                            <p>Nobody likes jerks.  If we find out you are gaming the system or screwing people over then you will be asked to leave.
                            </p>

                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="modal-body">
                            <h2 class="text-center">Tips for Joining a Startup as a Part Time Cofounder</h2>
                        </div>
                        <hr>
                            <h3>Be realistic about your time availability.</h3>
                            <p>Be honest with yourself before committing to 10 hours/week for the next 6 months.  You're better off under quoting and over delivering than doing the opposite.  The person on the other end of the startup may be depending on its success to maintain their livelihood so treat the work seriously.</p>

                            <h3>Be honest about your skills and experience.</h3>
                            <p>If you say you have extensive UI/UX skills it had better be more than just knowing how to install a Wordpress theme and changing the color scheme.  Talk to the startup about what they need and how your skills can fit in.  Really analyze what they are asking for and whether it can be completed in the amount of time you can provide.</p>

                            <h3>Don't be a jerk.</h3>
                            <p>Once again nobody likes a jerk. Don't blackmail anyone or hold the work hostage for money if it was all within the originally agreed to scope of work.  Don't steal anyone's ideas or work.  You are investing your time in exchange for a future payout.  If you screw over the company odds are good that payout is never going to materialize.</p>

                            <h3>Be willing to talk.</h3>
                            <p>If a startup is offering a percentage of equity for a certain job but you know that is totally unrealistic just let them know.  Maybe they don't understand the amount of work behind what they are asking.  Open lines of communication benefit everybody.</p>

                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Featured Startup #1 -->
<div class="startup-modal modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="row" style="margin-top: -50px">
                <div class="col-md-12 col-sm-12">
                    <h2 class="modal-title" id="myModalLabel">Stageup.io</h2>
                    <p class="text-muted"><em>Connecting Startups with Temporary Cofounders</em></p>
                    <a href="http://www.stageup.io" target="_blank">Stageup.io</a>
                </div>
            </div>
        </div>
      <div class="modal-body">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <p class="text-center"><strong>Talent Need</strong></p>
                    <p class="text-muted text-center"><em>Full Stack Developer</em></p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <p class="text-center"><strong>Equity Offer</strong></p>
                    <p class="text-muted text-center"><em>5%</em></p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <p class="text-center"><strong>Duration</strong></p>
                    <p class="text-muted text-center"><em>1 - 2 Months</em></p>
                </div>
            </div>
            <hr style="margin-top: 10px; margin-bottom: 10px">
            <div class="row" style="padding: 0 20px 0 20px">
                <h3>Elevator Pitch</h3>
            </div>
            <div class="row" style="padding:0 20px 0 20px">
                <p>StageUp connects early stage startups with part time cofounders. By focusing on part time talent it allows startups and potential cofounders to focus on growing the business without having to take on a full time commitment or require any immediate financial investment.</p>
            </div>
            <div class="row" style="padding: 0 20px 0 20px">
                <h3>Cofounder Request</h3>
            </div>
            <div class="row" style="padding:0 20px 0 20px">
                <p>Help build a backend system to track users, set permissions and allow commenting.</p>
            </div>
            <div class="row" style="padding: 0 20px 0 20px">
                <h3>Meet the Founding Team<h3>
            </div>
            <div class="row text-center">
                <div class="founder">
                    <img class="founderimg" src="/assets/derek.jpg">
                        <div class="founderinfo">
                            <p class="foundername">Derek</p>
                            <p class="founderjob">Founder</p>
                            <ul class="list-inline">
                                <li>
                                    <a href="https://angel.co/derek-carlson"><i class="fa fa-angellist fa-fw fa-1x"></i></a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/Derekwc1"><i class="fa fa-twitter fa-fw fa-1x"></i></a>
                                </li>
                            </ul>
                        </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="text-center">
                    <a href="#"><p style="vertical-align: text-bottom; color: #e9482b"><i class="fa fa-comment fa-fw"></i> Contact Stageup.io </p></a>
            </div>
        </div>
    </div>
</div>


    <!-- Featured Startup #2 -->
<div class="startup-modal modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="row" style="margin-top: -50px">
                <div class="col-md-12 col-sm-12">
                    <h2 class="modal-title" id="myModalLabel">Featured Startup #2</h2>
                    <p class="text-muted"><em>Startups featured weekly online and in our exclusive email</em></p>
                    <a href="http://www.stageup.io" target="_blank">YourStartup.com</a>
                </div>
            </div>
        </div>
      <div class="modal-body">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <p class="text-center"><strong>Talent Need</strong></p>
                    <p class="text-muted text-center"><em>Desired Skills</em></p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <p class="text-center"><strong>Equity Offer</strong></p>
                    <p class="text-muted text-center"><em>0.5 - 10%</em></p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <p class="text-center"><strong>Duration</strong></p>
                    <p class="text-muted text-center"><em>1 - 6 Months</em></p>
                </div>
            </div>
            <hr style="margin-top: 10px; margin-bottom: 10px">
            <div class="row" style="padding: 0 20px 0 20px">
                <h3>Elevator Pitch</h3>
            </div>
            <div class="row" style="padding:0 20px 0 20px">
                <p>StageUp connects early stage startups with part time cofounders. By focusing on part time talent it allows startups and potential cofounders to focus on growing the business without having to take on a full time commitment or require any immediate financial investment.</p>
            </div>
            <div class="row" style="padding: 0 20px 0 20px">
                <h3>Cofounder Request</h3>
            </div>
            <div class="row" style="padding:0 20px 0 20px">
                <p>Launch our social media platforms and engage potential customers</p>
            </div>
            <div class="row" style="padding: 0 20px 0 20px">
                <h3>Meet the Founding Team<h3>
            </div>
            <div class="row text-center">
                <div class="founder">
                    <img class="founderimg" src="/assets/blankuser.jpg">
                        <div class="founderinfo">
                            <p class="foundername">Founder 1</p>
                            <p class="founderjob">Title</p>
                            <ul class="list-inline">
                                <li>
                                    <a href="https://angel.co"><i class="fa fa-angellist fa-fw fa-1x"></i></a>
                                </li>
                                <li>
                                    <a href="https://twitter.com"><i class="fa fa-twitter fa-fw fa-1x"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com"><i class="fa fa-facebook fa-fw fa-1x"></i></a>
                                </li>
                            </ul>
                        </div>
                </div>

                <div class="founder">
                    <img class="founderimg" src="/assets/blankuser.jpg">
                        <div class="founderinfo">
                            <p class="foundername">Founder 2</p>
                            <p class="founderjob">Title</p>
                            <ul class="list-inline">
                                <li>
                                    <a href="https://angel.co"><i class="fa fa-angellist fa-fw fa-1x"></i></a>
                                </li>
                                <li>
                                    <a href="https://twitter.com"><i class="fa fa-twitter fa-fw fa-1x"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com"><i class="fa fa-facebook fa-fw fa-1x"></i></a>
                                </li>
                            </ul>
                        </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="text-center">
                    <a href="#"><p style="vertical-align: text-bottom; color: #e9482b"><i class="fa fa-comment fa-fw"></i> Contact Featured Startup </p></a>
            </div>
        </div>
    </div>
</div>

    <!-- Featured Startup #3 -->
<div class="startup-modal modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="row" style="margin-top: -50px">
                <div class="col-md-12 col-sm-12">
                    <h2 class="modal-title" id="myModalLabel">Featured Startup #3</h2>
                    <p class="text-muted"><em>Startups featured weekly online and in our exclusive email</em></p>
                    <a href="http://www.stageup.io" target="_blank">YourStartup.com</a>
                </div>
            </div>
        </div>
      <div class="modal-body">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <p class="text-center"><strong>Talent Need</strong></p>
                    <p class="text-muted text-center"><em>Desired Skills</em></p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <p class="text-center"><strong>Equity Offer</strong></p>
                    <p class="text-muted text-center"><em>0.5 - 10%</em></p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <p class="text-center"><strong>Duration</strong></p>
                    <p class="text-muted text-center"><em>1 - 6 Months</em></p>
                </div>
            </div>
            <hr style="margin-top: 10px; margin-bottom: 10px">
            <div class="row" style="padding: 0 20px 0 20px">
                <h3>Elevator Pitch</h3>
            </div>
            <div class="row" style="padding:0 20px 0 20px">
                <p>StageUp connects early stage startups with part time cofounders. By focusing on part time talent it allows startups and potential cofounders to focus on growing the business without having to take on a full time commitment or require any immediate financial investment.</p>
            </div>
            <div class="row" style="padding: 0 20px 0 20px">
                <h3>Cofounder Request</h3>
            </div>
            <div class="row" style="padding:0 20px 0 20px">
                <p>Launch our social media platforms and engage potential customers</p>
            </div>
            <div class="row" style="padding: 0 20px 0 20px">
                <h3>Meet the Founding Team<h3>
            </div>
            <div class="row text-center">
                <div class="founder">
                    <img class="founderimg" src="/assets/blankuser.jpg">
                        <div class="founderinfo">
                            <p class="foundername">Founder 1</p>
                            <p class="founderjob">Title</p>
                            <ul class="list-inline">
                                <li>
                                    <a href="https://angel.co"><i class="fa fa-angellist fa-fw fa-1x"></i></a>
                                </li>
                                <li>
                                    <a href="https://twitter.com"><i class="fa fa-twitter fa-fw fa-1x"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com"><i class="fa fa-facebook fa-fw fa-1x"></i></a>
                                </li>
                            </ul>
                        </div>
                </div>

                <div class="founder">
                    <img class="founderimg" src="/assets/blankuser.jpg">
                        <div class="founderinfo">
                            <p class="foundername">Founder 2</p>
                            <p class="founderjob">Title</p>
                            <ul class="list-inline">
                                <li>
                                    <a href="https://angel.co"><i class="fa fa-angellist fa-fw fa-1x"></i></a>
                                </li>
                                <li>
                                    <a href="https://twitter.com"><i class="fa fa-twitter fa-fw fa-1x"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com"><i class="fa fa-facebook fa-fw fa-1x"></i></a>
                                </li>
                            </ul>
                        </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="text-center">
                    <a href="#"><p style="vertical-align: text-bottom; color: #e9482b"><i class="fa fa-comment fa-fw"></i> Contact Featured Startup </p></a>
            </div>
        </div>
    </div>
</div>

    <!-- Featured Startup #4 -->
<div class="startup-modal modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="row" style="margin-top: -50px">
                <div class="col-md-12 col-sm-12">
                    <h2 class="modal-title" id="myModalLabel">Featured Startup #4</h2>
                    <p class="text-muted"><em>Startups featured weekly online and in our exclusive email</em></p>
                    <a href="http://www.stageup.io" target="_blank">YourStartup.com</a>
                </div>
            </div>
        </div>
      <div class="modal-body">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <p class="text-center"><strong>Talent Need</strong></p>
                    <p class="text-muted text-center"><em>Desired Skills</em></p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <p class="text-center"><strong>Equity Offer</strong></p>
                    <p class="text-muted text-center"><em>0.5 - 10%</em></p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <p class="text-center"><strong>Duration</strong></p>
                    <p class="text-muted text-center"><em>1 - 6 Months</em></p>
                </div>
            </div>
            <hr style="margin-top: 10px; margin-bottom: 10px">
            <div class="row" style="padding: 0 20px 0 20px">
                <h3>Elevator Pitch</h3>
            </div>
            <div class="row" style="padding:0 20px 0 20px">
                <p>StageUp connects early stage startups with part time cofounders. By focusing on part time talent it allows startups and potential cofounders to focus on growing the business without having to take on a full time commitment or require any immediate financial investment.</p>
            </div>
            <div class="row" style="padding: 0 20px 0 20px">
                <h3>Cofounder Request</h3>
            </div>
            <div class="row" style="padding:0 20px 0 20px">
                <p>Launch our social media platforms and engage potential customers</p>
            </div>
            <div class="row" style="padding: 0 20px 0 20px">
                <h3>Meet the Founding Team<h3>
            </div>
            <div class="row text-center">
                <div class="founder">
                    <img class="founderimg" src="/assets/blankuser.jpg">
                        <div class="founderinfo">
                            <p class="foundername">Founder 1</p>
                            <p class="founderjob">Title</p>
                            <ul class="list-inline">
                                <li>
                                    <a href="https://angel.co"><i class="fa fa-angellist fa-fw fa-1x"></i></a>
                                </li>
                                <li>
                                    <a href="https://twitter.com"><i class="fa fa-twitter fa-fw fa-1x"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com"><i class="fa fa-facebook fa-fw fa-1x"></i></a>
                                </li>
                            </ul>
                        </div>
                </div>

                <div class="founder">
                    <img class="founderimg" src="/assets/blankuser.jpg">
                        <div class="founderinfo">
                            <p class="foundername">Founder 2</p>
                            <p class="founderjob">Title</p>
                            <ul class="list-inline">
                                <li>
                                    <a href="https://angel.co"><i class="fa fa-angellist fa-fw fa-1x"></i></a>
                                </li>
                                <li>
                                    <a href="https://twitter.com"><i class="fa fa-twitter fa-fw fa-1x"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com"><i class="fa fa-facebook fa-fw fa-1x"></i></a>
                                </li>
                            </ul>
                        </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="text-center">
                    <a href="#"><p style="vertical-align: text-bottom; color: #e9482b"><i class="fa fa-comment fa-fw"></i> Contact Featured Startup </p></a>
            </div>
        </div>
    </div>
</div>
