<div class="page-header">
	<h1><%= @user.first_name %></h1>
</div>

<% if @startups %>
	<% @startups.each do |startup| %>
	<div class="well">
		<%= startup.name %>
		<hr />
		<%= link_to time_ago_in_words(startup.created_at), startup_path(startup) %> ago
	</div>
	<% end %>
	<% end%>